
  <div class="main-con">
    <div class="bg-con">
        <div>
            <h3>Login</h3>
        </div>
        <div style="display: flex;flex-direction: column;">
            <label>Email</label>
            <input type="email" class="form-control"/>
        </div>
        <div style="display: flex;flex-direction: column;">
            <label>Password</label>
            <input type="password" class="form-control"/>
        </div>
        <div style="margin-top: 20px;">
            <button class="btn btn-primary" (click)="loginUser()">Login</button>
        </div>
    </div>
  </div>