.main-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.bg-con{
    width: 80vw;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    background: #c1b9b8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}