<mat-sidenav-container class="sidenav-container">
    <!-- Toolbar -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application</span>
    </mat-toolbar>
  
    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side" opened>
      <mat-toolbar>Sidenav</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-home">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
          </svg>
            <span style="margin-left: 10px;">Home</span>
        </a>
        <a mat-list-item routerLink="registration" routerLinkActive="active">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-report-money">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
    <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
    <path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
    <path d="M12 17v1m0 -8v1" />
  </svg>
  <span style="margin-left: 10px;">Registartion</span>
</a>

        <a mat-list-item routerLink="allUsers" routerLinkActive="active">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"
              stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  
              class="icon icon-tabler icons-tabler-outline icon-tabler-building-store">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l18 0" />
              <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
              <path d="M5 21l0 -10.15" /><path d="M19 21l0 -10.15" />
              <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" /></svg>
            <span style="margin-left: 10px;">All-Users</span>
        </a>
        <!-- <a mat-list-item >Contact</a> -->
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main Content -->
    <mat-sidenav-content>
      <div class="content">
        <div style="display: flex; justify-content: end;">
            <mat-icon style="margin-top: 6px; margin-left: 10px;">power_settings_new</mat-icon>
            <button mat-raised-button style="color: red;" (click)="logout()">Logout</button>
        </div>
          
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <div >
    <!-- <div>
    
      <div class="mt-2 mb-2">
        <router-outlet></router-outlet>
      </div>
  
  
      <footer>

      </footer>
    </div> -->
  
  </div>