<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>FirstName</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> LastName </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
    </ng-container>
  

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div style="display: flex;margin-top: 20px;justify-content: center;">
    <button (click)="changePage(currentPage - 1)">
        Previous
    </button>
    <button *ngFor="let page of [].constructor(totalPages); let i=index" (click)="changePage(i+1)">
        {{i+1}}
    </button>
    <button (click)="changePage(currentPage + 1)">
        Next
    </button>
  </div>